#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.container {
  max-width: 600px;
}

.submit-btn {
  box-sizing: border-box;
  padding-bottom: 10px;
  border-radius: 50%;
}

.instructions-container {
  margin-bottom: 20px;
}

.remove-padding {
  padding-top: 10px;
  padding-left: 0;
  text-align: center;
}

textarea {
  resize: none;
  /* overflow-y: hidden; */
}

blockquote {
  border-left: 4px solid #ccc; 
  padding-left: 10px; 
}

.alert-icons {
  background-color: lightgray;
  padding: 3px 5px 1px 5px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.post-container {
  margin-top: 20px;
}

.post-item {
  position: relative;
  margin-top: 10px;
  padding: 30px 20px 10px 20px
}

.show-details {
  /* to showcase the line break use pre-line 
  but to ensure all white spaces are accounted for, use pre-wrap*/
  white-space: pre-wrap;
  
}

.custom-dropwdown {
  position: absolute;
  top: 0;
  right:40px;
  transform: translate(50%, -50%);
}

.custom-dropwdown .dropdown-toggle::after {
  content: none;
}